<section id="about">
  <div class="row container center">
    <div class="col l4 m6 s12">
      <img class="editable" alt="first feature" src="/images/first_feature.png">
      <h2 class="editable">First Feature</h2>
      <p class="editable">Nam timeam invenire at, tritani noluisse nam in. Malorum suscipiantur sed in. Choro consetetur no cum tempor salutatus percipitur an.</p>
    </div>
    <div class="col l4 m6 s12">
      <img class="editable" alt="second feature" src="/images/second_feature.png">
      <h2 class="editable">Second Feature</h2>
      <p class="editable">Nam timeam invenire at, tritani noluisse nam in. Malorum suscipiantur sed in. Choro consetetur no cum tempor salutatus percipitur an.</p>
    </div>
    <div class="col l4 m6 s12 offset-m3">
      <img class="editable" alt="third feature" src="/images/third_feature.png">
      <h2 class="editable">Third Feature</h2>
      <p class="editable">Nam timeam invenire at, tritani noluisse nam in. Malorum suscipiantur sed in. Choro consetetur no cum tempor salutatus percipitur an.</p>
    </div>
  </div>
</section>