<section id="testimonials">
  <div class="row container">
    <div class="center">
      <h2 class="editable">Testimonials</h2>
    </div>
    <div class="col l6 s12">
      <p class="editable review">"Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est."</p>
      <p class="editable author">- Customer Name, Company</p>
    </div>
    <div class="col l6 s12">
      <p class="editable review">"Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est."</p>
      <p class="editable author">- Customer Name, Company</p>
    </div>
    <div class="col l6 offset-l3 s12">
      <p class="editable review">"Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est."</p>
      <p class="editable author">- Customer Name, Company</p>
    </div>
  </div>
</section>