#testimonials {
  
  padding: 25px 0 20px 0;
  
  .review {
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    letter-spacing: 0.02rem;
    font-size: 1.1rem;
    line-height: 2.14rem;
    margin: 1.72rem 0px 1.4rem 0px;
  }
  
  .author {
    color: rgba(0, 0, 0, .54);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    line-height: 1.72rem;
  }
  
}